<section class="footer-contents">
  <!-- launch -->
  <div class="container">
    <div class="launch-wrapper">
      <div class="head">
        <figure><img src="../../assets/img/logo.png" alt="" /></figure>
        <h1>Launch</h1>
      </div>
      <div class="launch-contents">
        <p>
          Launch is a leading provider of business services. We help businesses
          of all sizes achieve their goals by providing them with the expert
          advice and support they need
        </p>
        <section class="icon-wrapper">
          <figure class="icons"><i class="fa-brands fa-facebook"></i></figure>
          <figure class="icons"><i class="fa-brands fa-x-twitter"></i></figure>
          <figure class="icons"><i class="fa-brands fa-google"></i></figure>
        </section>
      </div>
    </div>

    <!-- contact details -->
    <div class="contact-wrapper">
      <div class="head">
        <h1>Contact Details</h1>
      </div>
      <div class="contact-contents">
        <section class="contact-info">
          <h5>Address:</h5>
          <h6>
            <span><i class="fa-solid fa-map"></i></span>
            11 West Town, United Kingdom - European Union
          </h6>
          <a href="" class="directions">get directions</a>
        </section>
        <section class="contact-info">
          <h5>Phone:</h5>
          <h6>
            <span><i class="fa-solid fa-phone"></i></span>+1 123456789
          </h6>
          <h6>
            <span><i class="fa-solid fa-phone"></i></span>+1 123456790
          </h6>
        </section>
        <section class="contact-info">
          <h5>Email:</h5>
          <h6>
            <span><i class="fa-solid fa-envelope"></i></span>info@example.com
          </h6>
          <h6>
            <span><i class="fa-solid fa-envelope"></i></span>email@example.com
          </h6>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="copyright-wrapper">
  <div class="copyright">
    <h3>
      Launch <span><i class="fa-solid fa-copyright"></i></span>
      2024 - Designed by MJayski
    </h3>
  </div>
  <div class="copyright">
    <div class="link-wrapper">
      <div class="links"><a href="">Terms & Conditions</a></div>
      <div class="links"><a href="">Privacy Policy</a></div>
      <div class="links"><a href="">Contact</a></div>
    </div>
  </div>
</section>
