@use "../app.component.scss" as *;

.contact-contents {
  padding: 1rem;
  position: relative;

  .contact-header {
    text-align: center;
    width: 100%;
    margin-block-start: 2rem;
    margin-block-end: 1rem;

    h3 {
      color: $primaryColor;
      font-size: clamp(1.75rem, 2vw, 3vw);
    }

    h4 {
      color: $secondaryColor;
      font-size: clamp(1rem, 1.5vw, 2vw);
      text-transform: uppercase;
    }
  }

  .form-wrapper {
    width: 100%;
    height: max(50vh, 400px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;

    .forms {
      width: 100%;
      display: flex;
      justify-content: center;

      mat-form-field {
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid $primaryColor;
      }

      .textarea {
        height: 200px;
      }
    }
  }

  .button-wrapper {
    display: grid;
    place-content: center;
    .btn {
      @include buttonTheme();
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      text-transform: capitalize;

      &:hover {
        @include buttonHover();
      }
    }
  }

  .loader-wrapper {
    width: 100%;
    .loader-card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12rem;
      height: 8rem;
      border-radius: 8px;
      box-shadow: 0 0 8px $primaryColor;
      background-color: white;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .loading {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid $primaryColor;
        border-left-color: transparent;
        animation: loading 0.8s linear infinite;
        margin-block-end: 1rem;
      }

      @keyframes loading {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      p {
        font-size: 1.25rem;
      }
    }

    .not-valid {
      .icon {
        color: #e63946;
        font-size: 2rem;
        margin-block-end: 0.5rem;
      }
    }

    .valid {
      .icon {
        color: #29bf12;
        font-size: 2rem;
        margin-block-end: 0.5rem;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .contact-contents {
    .contact-header {
      margin-block-end: 3rem;
    }
    .form-wrapper {
      width: 90%;
      margin-inline: auto;
      justify-content: unset;
      align-content: flex-start;
      height: max(30vh, 300px);
      row-gap: 2rem;

      .forms {
        width: 48%;
        margin-inline: auto;
      }

      .forms:not(:last-child) {
        height: 5rem;
      }

      .forms:last-child {
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .contact-contents {
    .form-wrapper {
      width: 80%;
    }
  }
}
