<section class="w-full contact-contents">
  <header class="contact-header">
    <h3>Contact Us</h3>
    <h4>get in touch with us</h4>
  </header>
  <form action="" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <section class="form-wrapper">
      <div class="forms">
        <mat-form-field class="input">
          <mat-label>Name</mat-label>
          <input
            matInput
            (blur)="errorInputFunc('name')"
            [formControl]="name"
            FormControlName="name"
            required
          />
          <mat-error *ngIf="name.invalid">
            {{ nameRequiredMessage }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forms">
        <mat-form-field class="input">
          <mat-label>Email</mat-label>
          <input
            matInput
            [formControl]="email"
            (blur)="updateErrorMessage()"
            FormControlName="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ errorMessage }}</mat-error>
        </mat-form-field>
      </div>
      <div class="forms">
        <mat-form-field class="textarea">
          <mat-label>Write Your Message</mat-label>
          <textarea
            matInput
            [formControl]="message"
            (blur)="errorInputFunc('message')"
            FormControlName="message"
            required
          >
          </textarea>
          <mat-error *ngIf="message.invalid"> {{ messageRequired }} </mat-error>
        </mat-form-field>
      </div>
    </section>
    <section class="button-wrapper">
      <button class="btn" type="submit">Submit</button>
    </section>
  </form>
  <section class="loader-wrapper" *ngIf="loading">
    <div class="loader-card">
      <!-- loading -->
      <div class="loading" *ngIf="loadingWrapper"></div>

      <!-- email is valid -->
      <div class="valid" *ngIf="valid">
        <i class="fa-solid fa-check icon"></i>
      </div>

      <!-- email is invalid -->
      <div class="not-valid" *ngIf="invalid">
        <i class="fa-solid fa-xmark icon"></i>
      </div>
      <p>{{ lodingCardText }}</p>
    </div>
  </section>
</section>
