<div class="goal-contents">
  <section class="testimony-wrapper w-full my-4">
    <header>
      <h1>Testimonials</h1>
      <h3>People love us</h3>
    </header>
    <div class="cards-wrapper">
      <div class="card">
        <header class="card-heads flex">
          <figure class="profile">
            <img src="../assets/img/profile/ceo.jpg" alt="" />
          </figure>
        </header>
        <article class="reviews">
          <p>
            Thank you very much. Very Awesome Template. I'm impressed with your
            service. I've already told my friends about your template and your
            quick response, Very Good template thanks again!
          </p>
        </article>
        <div class="profile-name">
          <h3>Robert Dowsky</h3>
          <h4>CEO / Director</h4>
        </div>
        <figure class="stars"></figure>
      </div>
      <div class="card">
        <header class="card-heads flex">
          <figure class="profile">
            <img src="../assets/img/profile/webdev.jpg" alt="" />
          </figure>
        </header>
        <article class="reviews">
          <p>
            Great Support, I would just like to say thank you for your prompt
            and effective service, for your friendly and professional support
            staff! I will recommend your expert company to all my friends.
          </p>
        </article>
        <div class="profile-name">
          <h3>Sara William</h3>
          <h4>Web Developer</h4>
        </div>
        <figure class="stars"></figure>
      </div>
      <div class="card">
        <header class="card-heads flex">
          <figure class="profile">
            <img src="../assets/img/profile/business man.jpg" alt="" />
          </figure>
        </header>
        <article class="reviews">
          <p>
            Wow Very Nice Team, I'm so happy with your service. You managed to
            exceed my expectations! You guys are very efficient and I will refer
            more people and my social media to your company!
          </p>
        </article>
        <div class="profile-name">
          <h3>William Roy</h3>
          <h4>Business Manager</h4>
        </div>
        <figure class="stars"></figure>
      </div>
    </div>
    <div class="button-wrapper">
      <div class="buttons">
        <button class="btn" (click)="slideComment(0)">
          <i class="fa-solid fa-circle"></i>
        </button>
      </div>
      <div class="buttons">
        <button class="btn" (click)="slideComment(1)">
          <i class="fa-solid fa-circle"></i>
        </button>
      </div>
      <div class="buttons">
        <button class="btn" (click)="slideComment(2)">
          <i class="fa-solid fa-circle"></i>
        </button>
      </div>
    </div>
  </section>
</div>

<section class="growth-wrapper w-full">
  <div class="growth-header">
    <h1>Growth and Sucess</h1>
    <h3>Expertise. Innovation. Partnership.</h3>
  </div>
  <div class="growth-contents">
    <p>
      We empower businesses to thrive in a dynamic marketplace, providing a
      comprehensive suite of services designed to elevate your performance and
      achieve your strategic goals. Our team of experienced professionals brings
      a wealth of knowledge, cutting-edge expertise, and a passion for driving
      tangible results.
    </p>
  </div>
  <button class="btn">get started</button>
</section>
