@use "../app.component.scss" as *;

.goal-contents {
  width: 100%;
  margin-block: 2rem;

  .testimony-wrapper {
    header {
      text-align: center;
      margin-block-end: 2rem;
      line-height: 1.25;
      h1 {
        color: $primaryColor;
        font-size: clamp(2rem, 2.5vw, 3vw);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 5%;
          left: 50%;
          transform: translate(-172%, 50%);
          width: 3.25rem;
          height: 2px;
          background-color: $primaryColor;
          z-index: 1;
        }
      }

      h3 {
        color: $secondaryColor;
        font-size: clamp(1.25rem, 1.5vw, 2vw);
        text-transform: uppercase;
      }
    }

    .cards-wrapper {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      overflow: hidden;
      padding: 1rem;

      .card {
        min-width: 100%;
        box-shadow: 0px 4px 5px 2px $primaryColor;
        border-radius: 8px;
        background-color: $cardColor;
        transition: all 1s ease-in-out;

        .card-heads {
          margin-block-end: 0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background-color: $primaryColor;
          position: relative;
          width: 100%;
          height: 5rem;
          figure {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -15%);
            img {
              width: 6.5rem;
              border-radius: 50%;
            }
          }
        }
        .reviews {
          text-align: center;
          padding-inline: 1rem;
          margin-block-start: 4rem;
          margin-block-end: 1.5rem;
        }

        .profile-name {
          text-align: center;
          h3 {
            font-size: clamp(1.25rem, 1.5vw, 1.75vw);
            color: $primaryColor;
          }

          h4 {
            font-size: clamp(0.85rem, 1vw, 1.15vw);
          }
        }

        .stars {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-block: 1rem;
          color: #ffce39;
          gap: 0.35rem;
        }
      }
    }

    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      .buttons {
        .btn {
          outline: none;
          border: none;

          i {
            font-size: clamp(0.75rem, 1vw, 1.25vw);
            color: #ccc;
            transition: all 0.3s ease-in;

            &:hover {
              color: $primaryColor;
            }
          }
        }

        &:first-child {
          .btn i {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.growth-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/img/mission-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .growth-anim {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2rem;
    text-align: center;
    margin-block-start: 5rem;
    margin-block-end: 3rem;

    .growth-header {
      margin-block-end: 1.5rem;
      h1 {
        font-size: clamp(1.8rem, 4.5vw, 5.5vw);
      }

      h3 {
        font-size: clamp(1.25rem, 2vw, 2.5vw);
      }
    }

    .growth-contents {
      margin-block-end: 1rem;
    }

    .btn {
      @include buttonTheme();
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      text-transform: capitalize;

      &:hover {
        @include buttonHover();
      }
    }
  }
}

.news-wrapper {
  margin-block: 2rem;
  .news-head {
    text-align: center;
    line-height: 1.35;
    margin-block-end: 3rem;

    h3 {
      font-size: clamp(1.75rem, 2vw, 3vw);
      color: $primaryColor;
      font-family: $headerFonts;
    }

    h4 {
      font-size: clamp(1rem, 1.5vw, 2vw);
      color: $secondaryColor;
      text-transform: uppercase;
    }
  }
  .news {
    width: 100%;
    padding-block: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .news-card {
      width: 100%;
      padding-inline: 1rem;
      height: auto;
      .news-figure {
        width: 100%;

        overflow: hidden;

        img {
          width: 100%;
          transition: all 0.5s ease-in-out;
          cursor: pointer;

          &:hover {
            filter: brightness(120%);
            transform: scale(1.2);
          }
        }
      }
      .news-items {
        width: 100%;
        text-align: center;
        background-color: $cardColor;
        padding-block-end: 1rem;
        padding-inline: 0.5rem;
        width: 100%;
        height: max(40vh, 100px);

        h1 {
          font-size: clamp(1.25rem, 1.5vw, 2.5vw);
          padding-block-start: 1.5rem;
          margin-block-end: 1.5rem;
          opacity: 0.8;
        }

        p {
          font-size: clamp(0.9rem, 1vw, 1.5vw);
          opacity: 0.5;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    .btn {
      @include buttonTheme();
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      text-transform: capitalize;

      &:hover {
        @include buttonHover();
      }
    }
  }
}

@media all and (min-width: 480px) {
  .goal-contents {
    .testimony-wrapper {
      .cards-wrapper {
        min-width: unset;
        width: 70%;
        margin-inline: auto;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .goal-contents {
    .testimony-wrapper {
      .cards-wrapper {
        min-width: unset;
        width: 100%;
        overflow: unset;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          min-width: unset;
          width: 45%;
        }
      }
      .button-wrapper {
        display: none;
      }
    }
  }

  .growth-wrapper {
    .growth-contents {
      width: 70%;
      margin-inline: auto;
    }
  }

  .news-wrapper {
    .news {
      width: 90%;
      margin-inline: auto;
      gap: 1rem;
      .news-card {
        width: 48%;
        padding-inline: unset;

        .news-figure {
          img {
            aspect-ratio: 4 / 3;
          }
        }
        .news-items {
          height: max(25vh, 100px);
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .goal-contents {
    .testimony-wrapper {
      .cards-wrapper {
        .card {
          width: 25%;
        }
      }
    }
  }

  .growth-wrapper {
    .growth-contents {
      p {
        font-size: 1.15rem;
      }
    }
  }

  .news-wrapper {
    .news {
      width: 85%;
      margin-inline: auto;
      justify-content: space-around;
      .news-card {
        width: 30%;

        .news-items {
          height: max(50vh, 200px);
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .news-wrapper {
    .news {
      .news-card {
        .news-items {
          height: max(40vh, 200px);
        }
      }
    }
  }
}
