<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="w-full min-h-screen relative">
      <nav class="w-full nav absolute top-0">
        <div class="logo-wrapper flex w-3/4">
          <img src="../assets/img/logo.png" alt="" class="logo" />
          <div class="logo-name">
            <h2>Launch</h2>
            <h3 class="business">BUSINESS SERVICES</h3>
          </div>
        </div>
        <section
          class="button-wrapper absolute top-4 right-2 p-2 rounded-full bg-white"
        >
          <input
            type="checkbox"
            name=""
            id="toggle"
            class="hidden"
            [checked]="isChecked"
            (change)="menuBar()"
          />
          <label
            for="toggle"
            class="btn flex flex-col justify-center items-center gap-1"
          >
            <div class="line1 lines"></div>
            <div class="line2 lines"></div>
            <div class="line3 lines"></div>
          </label>
        </section>
      </nav>
      <ul
        class="flex flex-col justify-center text-center list-none link-wrapper w-full p-4 gap-4"
      >
        <li><a href="#" class="links cursor-pointer">Home</a></li>
        <li><a href="#" class="links">Services</a></li>
        <li><a href="#" class="links">Mission</a></li>
        <li><a href="#" class="links">Gallery</a></li>
        <li><a href="#" class="links">Goals</a></li>
        <li><a href="#" class="links">Blogs</a></li>
        <li><a href="#" class="links">Contact Us</a></li>
      </ul>
      <div class="slider-wrapper">
        <i class="fa-thin fa-circle-arrow-left left" (click)="slideBg()"></i>
        <i class="fa-thin fa-circle-arrow-right right"></i>
        <section class="slides slide1 min-w-full h-screen"></section>
        <section class="slides slide2 min-w-full h-screen"></section>
      </div>
    </main>
  </body>
</html>
