<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body class="scroll-smooth">
    <main class="w-full relative">
      <nav class="w-full nav absolute top-0" [class.scrolled]="isScrolled">
        <div class="logo-wrapper flex w-3/4">
          <img src="../assets/img/logo.png" alt="" class="logo" />
          <div class="logo-name">
            <h2>Launch</h2>
            <h3 class="business">BUSINESS SERVICES</h3>
          </div>
        </div>
        <section
          class="button-wrapper absolute top-4 right-2 p-2 rounded-full bg-white"
        >
          <input
            type="checkbox"
            name=""
            id="toggle"
            class="hidden"
            [checked]="isChecked"
            (change)="menuBar()"
          />
          <label
            for="toggle"
            class="btn flex flex-col justify-center items-center gap-1"
          >
            <div class="line1 lines"></div>
            <div class="line2 lines"></div>
            <div class="line3 lines"></div>
          </label>
        </section>
        <ul
          class="flex flex-col justify-center text-center list-none link-wrapper w-full p-4 gap-4"
        >
          <li>
            <button class="links" (click)="smoothScroll('#home')">Home</button>
          </li>
          <li>
            <button class="links" (click)="smoothScroll('#service')">
              Service
            </button>
          </li>
          <li><a href="#" class="links">Mission</a></li>
          <li><a href="#" class="links">Gallery</a></li>
          <li><a href="#" class="links">Goals</a></li>
          <li><a href="#" class="links">Blogs</a></li>
          <li><a href="#" class="links">Contact Us</a></li>
        </ul>
      </nav>
      <!-- <div class="alternative-home-btn">
        <button class="home-btn">
          <i class="fa-solid fa-caret-up">asdfas</i>
        </button>
      </div> -->

      <div class="slider-wrapper" id="home">
        <i
          class="fa-thin fa-circle-arrow-left left arrows"
          (click)="slideBg('left')"
        ></i>
        <i
          class="fa-thin fa-circle-arrow-right right arrows"
          (click)="slideBg('right')"
        ></i>
        <section class="slides slide1">
          <div
            class="slide-content w-full flex flex-col justify-center items-center"
          >
            <h4 class="welcome">Welcome at Launch!</h4>
            <h1 class="title">Marketing Services</h1>
            <p class="context">
              We empower businesses to thrive in a dynamic marketplace,
              providing a comprehensive suite of services designed to elevate
              your performance and achieve your strategic goals.
            </p>
            <button class="btn">
              Get Started <span><i class="fa-light fa-arrow-down"></i></span>
            </button>
          </div>
        </section>
        <section class="slides slide2">
          <div
            class="slide-content w-full flex flex-col justify-center items-center"
          >
            <h4 class="welcome">Welcome at Launch!</h4>
            <h1 class="title">Business Services</h1>
            <h3 class="sub-title">Expertise. Innovation. Partnership.</h3>
            <p class="context">
              We empower businesses to thrive in a dynamic marketplace,
              providing a comprehensive suite of services designed to elevate
              your performance and achieve your strategic goals.
            </p>
            <button class="btn">
              Get Started <span><i class="fa-light fa-arrow-down"></i></span>
            </button>
          </div>
        </section>
        <section class="slides slide3">
          <div
            class="slide-content w-full flex flex-col justify-center items-center"
          >
            <h4 class="welcome">Welcome at Launch!</h4>
            <h1 class="title">Sales Services</h1>
            <h3 class="sub-title">Expertise. Innovation. Partnership.</h3>
            <p class="context">
              We empower businesses to thrive in a dynamic marketplace,
              providing a comprehensive suite of services designed to elevate
              your performance and achieve your strategic goals.
            </p>
            <button class="btn">
              Get Started <span><i class="fa-light fa-arrow-down"></i></span>
            </button>
          </div>
        </section>
      </div>
      <section
        class="service-container flex flex-wrap gap-2 w-full p-4 bg-white leading-2"
        id="service"
      >
        <div class="services flex flex-col justify-center items-center w-full">
          <img src="../assets/img/strategy.gif" class="service-icon" alt="" />
          <h2 class="service-title">Strategy</h2>
          <dfn class="service-def"
            >We help businesses develop a clear and concise business
            strategy.</dfn
          >
          <button
            class="service-btn rounded-full py-2 px-8 text-center outline-none border-none"
          >
            Read More
          </button>
        </div>
        <div
          class="services flex flex-col justify-center items-center content-center w-full"
        >
          <img src="../assets/img/maketing.gif" class="service-icon" alt="" />
          <h2 class="service-title">Marketing</h2>
          <dfn class="service-def"
            >We help businesses develop, implement effective marketing
            campaigns.</dfn
          >
          <button
            class="service-btn rounded-full py-2 px-8 text-center outline-none border-none"
          >
            Read More
          </button>
        </div>
        <div class="services flex flex-col justify-center items-center w-full">
          <img src="../assets/img/sales.gif" class="service-icon" alt="" />
          <h2 class="service-title">Sales</h2>
          <dfn class="service-def"
            >We help businesses improve their sales processes and close more
            deals.</dfn
          >
          <button
            class="service-btn rounded-full py-2 px-8 text-center outline-none border-none"
          >
            Read More
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
