@import url("https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */

$primaryColor: #0592fd;
$white: #ffffff;
$headerFonts: "Roboto Condensed", sans-serif;

/* end of variables */

main {
  nav {
    padding: 1rem;
    z-index: 9;
    background-color: transparent;

    .logo-wrapper {
      .logo {
        width: clamp(3rem, 2vw, 20%);
      }

      .logo-name {
        margin-left: 0.5rem;
        width: 100%;

        h2 {
          font-size: clamp(1.2rem, 1vw, 4rem);
          font-weight: 500;
          color: $primaryColor;
          font-family: $headerFonts;
        }
        h3 {
          font-size: clamp(0.7rem, 0.8vw, 3rem);
          color: $white;
          font-family: $headerFonts;
        }
      }
    }

    .button-wrapper {
      z-index: 9;
      .btn {
        width: 100%;
        padding: 0.9rem;
        cursor: pointer;

        .lines {
          position: relative;
          width: 1.8rem;
          margin-top: 2px;
          border-radius: 10px;
          background-color: $primaryColor;
          height: 0.25rem;
          transition: all 0.3s ease-in-out;
        }

        .line1,
        .line3 {
          width: 1.3rem;
        }
      }
    }
  }

  .slider-wrapper {
    .slides {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../assets/img/bg1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
  }
}

/* animations */

#toggle:checked + .btn {
  .line1 {
    transform: rotate(-45deg);
    margin-top: 0px;
    width: 2rem;
    top: 10px;
  }

  .line2 {
    opacity: 0;
    transform: rotate(40deg);
  }

  .line3 {
    transform: rotate(45deg);
    margin-top: -7px;
    margin-bottom: 8px;
    width: 2rem;
  }
}
