<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="w-full min-h-screen relative">
      <nav class="w-full bg-slate-200 absolute top-0">
        <div class="logo-wrapper flex w-3/4">
          <img src="../assets/img/logo.png" alt="" class="logo" />
          <div class="logo-name">
            <h2>Launch</h2>
            <h3>BUSINESS SERVICES</h3>
          </div>
        </div>
        <section
          class="button-wrapper absolute top-4 right-2 p-2 rounded-full bg-white"
        >
          <input type="checkbox" name="" id="toggle" class="hidden" />
          <label
            for="toggle"
            class="btn flex flex-col justify-center items-center gap-1"
          >
            <div class="line1 lines"></div>
            <div class="line2 lines"></div>
            <div class="line3 lines"></div>
          </label>
        </section>
      </nav>
      <div class="slider-wrapper">
        <section class="slides slide1 w-full h-screen"></section>
      </div>
    </main>
  </body>
</html>
